<h3>Oldalak</h3>
{% for menuGroup in site.data.nav.nav %}
  <h4>{{ menuGroup.title }}</h4>
  {% assign docs = site.pages | where: "dir", menuGroup.dir %}
  <ul>
  {% for doc in docs %}
    {% if doc.exclude != true and doc.title %}
      <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
  {% endfor %}
  </ul>
{% endfor %}

{% if site.posts.size > 0 %}
<h3>Posztok</h3>
<ul>
  {% for doc in site.posts %}
    {% if doc.exclude != true and doc.title %}
      <li><a href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endif %}
  {% endfor %}
</ul>
{% endif %}
