---
---

@import "{{ site.theme }}";

* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: linear-gradient(#3a3a39, #1c1c1c);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

#header {
    background: #2f2f2f;
    flex-shrink: 0;
    height: auto;
    position: static;
}

footer {
    flex-shrink: 0;
}

#title {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

#subtitle {
    text-align: center;
    font-weight: 300;
    font-size: 0.75rem;
}

.wrapper {
    flex-grow: 1;
    margin-bottom: 2rem;
    margin-top: 2rem;
    max-width: 62rem;
    width: 100%;

    @media (min-width: 30rem) {
        display: flex;
    }
}

article {
    padding: 0.75rem 1rem 0.75rem 0;

    @media (min-width: 30rem) {
        width: calc(100% / 3 * 2);
    }

    ul {
        list-style-image: none;
        list-style-type: disc;
    }

    form {
        background-color: #312f2d;
        border-radius: 0.5rem;
        padding: 0.75rem;
    }
}

main {
    nav {
        background-color: #312f2d;
        border-radius: 0.5rem;
        padding: 0.75rem;
        
        @media print, screen and (max-width: 480px) {
            display: block; // override theme
        }

        @media (min-width: 30rem) {
            width: calc(100% / 3);
        }

        ul {
            padding-left: 0;
        }
    }
}

.input {
    background: #eeeeee;
    border: none;
    border-radius: 2px;
    padding: 0.5rem;
}

.button {
    background: #3a3a39;
    border: none;
    border-radius: 2px;
    color: #eeeeee;
    font-weight: bold;
    padding: 0.5rem;

    & + & {
        margin-left: 0.5rem;
    }

    &.primary {
        background: #eeeeee;
        color: #1c1c1c;
    }

    &.secondary {
        background: #1c1c1c;
        color: #eeeeee;
    }
}
